.contacts {
  color: $color-sapphire;
  background-color: $color-default-white;
}

.contacts__wrapper {
  padding: 47px clamp(30px, $padding-desktop-6, 103px) 60px clamp(30px, $padding-desktop-5, 120px);

  @include vp-1199 {
    padding: 62px clamp(103px, $feedback-padding-tablet-2, 250px) 63px clamp(133px, $feedback-padding-tablet, 250px);
  }

  @include vp-767 {
    padding: 64px clamp(15px, $padding-mobile, 30px) 62px;
  }

  h2 {
    margin: 0 0 27px 0;
    padding: 0;
    font-family: $font-alumni-sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 156%;
    letter-spacing: 0.03em;

    @include vp-1199 {
      font-size: 42px;
      line-height: 50px;
      margin: 0 0 31px 0;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 34px 0;
    }
  }
}

.contacts__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $contacts-gap;
  row-gap: 17px;
  position: relative;

  @include vp-1199 {
    column-gap: 93px;
    row-gap: 20px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 88%;
    background-color: $color-light-slate-grey;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(4px, -50%);

    @include vp-1199 {
      transform: translate(0, -50%);
    }

    @include vp-767 {
      display: none;
    }
  }
}

.contacts__item {
  &:nth-child(2n+1) {
    padding-left: 4px;

    @include vp-1199 {
      padding-left: 0;
    }
  }

  &:nth-child(2n) {
    padding-left: 14px;

    @include vp-1199 {
      padding-left: 0;
    }

    @include vp-767 {
      order: 2;
    }
  }

  h3 {
    margin: 0 0 4px 0;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    @include vp-1199 {
      margin: 0 0 5px 0;
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    @include vp-1199 {
      font-size: 18px;
      line-height: 27px;
    }
  }

  a {
    &:hover {
      color: $color-torch-red;
    }
  }
}
