.feedback {
  background: linear-gradient(to right, $color-sapphire, $color-sapphire 50%, $color-default-white 50%, $color-default-white 100%);
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: $color-light-slate-grey;
    position: absolute;
    left: 50%;
    top: 0;
  }

  @include vp-1199 {
    background: none;

    &::before {
      display: none;
    }
  }
}

.feedback__wrapper {
  padding: 0;
  margin: 0 auto;
  max-width: 1366px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    grid-template-columns: 1fr;
  }
}
