.footer {
  background-color: $color-black-russian;
}

.footer__wrapper {
  padding: 30px clamp(30px, $padding-desktop, 103px);
  margin: 0 auto;
  max-width: 1366px;
  color: $color-default-white;
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    padding: 35px clamp(10px, $padding-tablet, 45px) 50px;
  }
}


.footer__list {
  display: flex;
  align-items: center;
  margin-left: -20px;

  &--social {
    margin-right: -6px;
    justify-self: end;

    @include vp-1199 {
      margin: 4px -14px 0 0;
    }
  }
}

.footer__list-item {
  margin: 0 10px;

  @include vp-1199 {
    margin: 0 5px;
  }

  a {
    padding: 10px;
    color: $color-default-white;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;

    &:hover {
      color: $color-cobalt;
    }
  }

  img {
    @include vp-1199 {
      width: 82px;
      height: 18px;
    }
  }

  &--logo {
    margin: 10px 250px 0 0;

    @include vp-1199 {
      margin: 0 40px 0 9px;
    }

    a {
      display: block;
    }
  }

  &--social {
    margin: 0;

    @include vp-1199 {
      margin: 0;
    }

    a {
      display: block;
      padding: 5px;
      margin-right: 2px;
    }
  }
}
