.games__wrapper {
  padding: 120px clamp(20px, $padding-desktop, 103px) 53px;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  display: grid;
  grid-template-columns: 500px 1fr;

  @include vp-1199 {
    padding: 100px clamp(10px, $padding-tablet, 45px) 53px;
    grid-template-columns: $games-text-width-tablet $games-picture-width-tablet;
  }

  @include vp-767 {
    padding: 70px clamp(15px, $padding-mobile, 30px) 35px;
    grid-template-columns: 1fr;
  }
}

.games__text {
  background-color: $color-torch-red;
  color: $color-default-white;
  padding: 81px 79px 85px 78px;

  @include vp-1199 {
    padding: 46px 45px;
  }

  @include vp-767 {
    padding: 46px 45px 54px;
  }

  p {
    margin: 0 0 50px 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 12px;
      margin: 0 0 30px 0;
    }
  }

  a {
    width: 100%;
    display: block;
    text-align: center;
    border: none;
    outline: 3px  solid $color-default-white;
    padding: 25px 10px;

    @include vp-1199 {
      padding: 14px;
      font-size: 10px;
      line-height: 12px;
    }

    @include vp-767 {
      padding: 12px;
    }

    &:hover,
    &:focus {
      background: $color-sapphire;
    }
  }
}

.games__header {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 50px;
  margin: 0 0 11px 0;

  @include vp-1199 {
    margin: 0;
    grid-template-columns: $games-header-width-tablet 1fr;
    gap: 28px;
  }

  h2 {
    padding: 0;
    margin: 5px 0 0 0;
    font-family: $font-alumni-sans-serif;
    font-weight: 600;
    font-size: 82px;
    line-height: 96%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @include vp-1199 {
      font-size: 48px;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 12px;
    }
  }
}

.games__day {
  display: flex;
  position: relative;
  margin: 0 30px 6px 0;

  @include vp-1199 {
    margin: 0 10px 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background: $color-default-white;

    @include vp-767 {
      max-width: 65px;
    }
  }

  span {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-right: 5px;

    @include vp-1199 {
      font-size: 24px;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    align-self: center;

    @include vp-1199 {
      font-size: 10px;
      margin: 0;
      padding: 0;
    }
  }
}

.games__time {
  span {
    position: relative;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 2px;
      background: $color-default-white;
    }
  }
}

.games__picture {
  background-color: $color-midnight-express;

  img {
    aspect-ratio: 290 / 292;
  }
}
