.promotions__wrapper {
  padding: 150px clamp(30px, $padding-desktop, 103px) 60px;
  margin: 0 auto;
  max-width: 1366px;

  @include vp-1199 {
    padding: 92px clamp(10px, $padding-tablet, 45px) 50px;
  }

  h2 {
    margin: 0 0 33px 0;
    padding: 0;
    font-family: $font-alumni-sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: $color-sapphire;
    text-align: center;

    @include vp-1199 {
      margin: 0 10px 39px 0;
      font-size: 42px;
      line-height: 50px;
    }
  }
}

.promotions__inner {
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.promotions__promo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $color-torch-red;

  @include vp-1199 {
    grid-template-columns: 1fr $promo-picture-tablet;
  }
}

.promotions__text {
  color: $color-default-white;
  padding: 34px 45px 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 156%;
  }

  p {
    padding: 0;
    margin: -6px 0 19px 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
  }

  span {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    display: flex;
    flex: auto;
  }

  a {
    color: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $color-sapphire;
    }
  }
}

.promotions__picture {
  width: 100%;
  height: auto;
  aspect-ratio: 280 / 462;

  @include vp-1199 {
    aspect-ratio: 399 / 462;
  }

  img {
    aspect-ratio: 280 / 462;

    @include vp-1199 {
      aspect-ratio: 399 / 462;
    }
  }
}

.promotions__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}

.promotions__item {
  padding: 18px 28px 29px;
  box-sizing: border-box;
  color: $color-resolution-blue;
  border: 7px solid transparent;
  border-image: linear-gradient(148.82deg, $color-crimson 0.85%, $color-smalt 100%);
  border-image-slice: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include vp-1199 {
    min-height: 211px;
  }

  h3 {
    padding: 0;
    margin: 0 0 3px 0;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    flex: auto;
  }

  a {
    color: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
      color: $color-torch-red;
    }
  }
}
