.reviews__wrapper {
  padding: 57px clamp(20px, $padding-desktop-2, 347px) 120px;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;

  @include vp-1199 {
    padding: 42px clamp(10px, $padding-tablet, 45px) 100px;
  }

  @include vp-767 {
    padding: 31px clamp(15px, $padding-mobile, 30px) 71px;
  }

  h2 {
    margin: 0 0 37px 0;
    padding: 0;
    font-family: $font-alumni-sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;
    color: #102654;
    text-align: center;

    @include vp-1199 {
      margin: 0 0 40px 0;
      font-size: 42px;
      line-height: 50px;
    }

    @include vp-767 {
      font-size: 32px;
      line-height: 38px;
      margin: 0 0 40px 0;
    }
  }
}

.reviews__slider {
  display: flex;
  align-items: center;
}

.reviews__slide {
  margin: 0;
  padding: 54px 62px;
  display: grid;
  grid-template-columns: $reviews-picture-width-desktop 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 28px;
  background: $color-resolution-blue;
  color: $color-default-white;
  box-shadow: 0 0 40px rgba(28, 51, 116, 0.2);
  min-height: 242px;

  @include vp-1199 {
    padding: 54px 65px;
  }

  @include vp-767 {
    padding: 40px $padding-mobile-2 31px;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    height: auto;
  }

  h3 {
    margin: 0 0 12px 0;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    @include vp-767 {
      margin: 8px 0 0 5px;
      line-height: 130%;
    }
  }

  p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    @include vp-767 {
      grid-column: 1 / -1;
      text-align: center;
    }
  }
}

.reviews__picture {
  margin-top: 8px;
  grid-row: 1 / 3;

  @include vp-767 {
    margin: 0 0 0 12px;
    grid-row: 1 / 2;
  }

  img {
    width: 100%;
    border-radius: 50%;

    @include vp-767 {
      max-width: 120px;
    }
  }
}

.reviews__button {
  position: relative;
  width: 16px;
  height: 32px;
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &::before,
  &::after {
    content: "";
    width: 22px;
    height: 1px;
    position: absolute;
    background-color: $color-dark-gray;
    left: -3px;

    @include vp-767 {
      width: 13px;
      left: -2px;
    }
  }

  &::before {
    top: 23px;
    transform: rotate(45deg);

    @include vp-767 {
      top: 13px;
    }
  }

  &::after {
    top: 8px;
    transform: rotate(-45deg);

    @include vp-767 {
      top: 5px;
    }
  }

  &:hover {
    &::before,
    &::after {
      background-color: $color-midnight-express;
    }
  }

  &--prev {
    margin-right: 42px;

    @include vp-767 {
      margin-right: 19px;
    }
  }

  &--next {
    transform: rotate(180deg);
    margin-left: 42px;

    @include vp-767 {
      margin-left: 19px;
    }
  }
}

[data-swiper-2-prev].disabled,
[data-swiper-2-next].disabled {
  cursor: not-allowed;

  &:hover {
    &::before,
    &::after {
      background-color: $color-dark-gray;
    }
  }
}

[data-reviews].nojs {
  .reviews__slider {
    display: block;
  }

  .reviews__swiper-2 {
    margin: 0;
  }

  .reviews__swiper-2-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  button {
    display: none;
  }
}
