.tickets {
  background: $color-ghost-white;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -95px;
    right: -108px;
    transform: rotate(-30deg);
    width: 321px;
    height: 384px;
    background-image:
      image-set(
        "../img/tickets-background.webp" 1x,
        "../img/tickets-background.png" 1x,
        "../img/tickets-background@2x.webp" 2x,
        "../img/tickets-background@2x.jpg" 2x
      );

    @include vp-1199 {
      width: 289px;
      height: 345px;
      bottom: -75px;
      right: -9px;
      background-size: 289px;
    }
  }
}

.tickets__wrapper {
  padding: 120px clamp(20px, $padding-desktop, 103px);
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  text-align: center;
  color: $color-sapphire;

  @include vp-1199 {
    padding: 101px clamp(10px, $padding-tablet, 45px) 100px;
    display: flex;
    flex-direction: column;
  }

  h2 {
    margin: 0;
    padding: 0;
    font-family: $font-alumni-sans-serif;
    font-weight: 600;
    font-size: 54px;
    line-height: 65px;
    letter-spacing: 0.03em;

    @include vp-1199 {
      margin-right: 10px;
      font-size: 42px;
      line-height: 50px;
    }
  }
}

.tickets__tabs {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 58px;
    width: 150px;
    height: 2px;
    background: $color-grey;

    @include vp-1199 {
      width: 330px;
    }
  }

  input {
    @include visually-hidden;
  }

  label {
    position: relative;
    display: inline-block;
    padding: 17px 0 13px;
    margin: 0 23px;
    cursor: pointer;
    color: rgba(16, 38, 84, 0.5);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    @include vp-1199 {
      font-size: 18px;
      padding: 20px 0 13px;
      margin: 0 25px;
    }
  }

  input:checked + label {
    color: $color-sapphire;
  }

  label:hover,
  input:focus + label {
    color: $color-torch-red;
  }

  input:focus + label::after,
  input:checked + label::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: 2;
    background: $color-crimson;
  }
}

.tickets__tabs > input:first-child:checked ~ .tickets__panels > .tickets__panel:first-child,
.tickets__tabs > input:nth-child(3):checked ~ .tickets__panels > .tickets__panel:nth-child(2),
.tickets__tabs > input:nth-child(5):checked ~ .tickets__panels > .tickets__panel:nth-child(3),
.tickets__tabs > input:nth-child(7):checked ~ .tickets__panels > .tickets__panel:nth-child(4),
.tickets__tabs > input:nth-child(9):checked ~ .tickets__panels > .tickets__panel:nth-child(5),
.tickets__tabs > input:nth-child(11):checked ~ .tickets__panels > .tickets__panel:nth-child(6) {
  display: grid;
}

.tickets__panels {
  margin: 38px 0 0 0;

  @include vp-1199 {
    margin: 44px 0 0 0;
  }
}

.tickets__panel {
  margin: 0;
  display: none;
  grid-template-columns: repeat(3, $tickets-card-width-desktop);
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    margin: 0 118px;
  }
}

.tickets__card {
  margin: 0;
  padding: 56px clamp(10px, $tickets-card-padding-desktop, 68px) 60px;
  background-color: $color-default-white;
  box-sizing: border-box;
  border: 7px solid transparent;

  @include vp-1199 {
    padding: 56px 112px 62px;
    grid-template-columns: 1fr;
  }

  &:hover,
  &:focus-within {
    border-image: linear-gradient(148.82deg, $color-crimson 0.85%, $color-smalt 100%);
    border-image-slice: 1;

    button {
      background: linear-gradient(97.05deg, $color-torch-red 17.6%, $color-cobalt 95.31%);
      outline: none;
      color: $color-default-white;
    }
  }

  h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: $font-roboto-sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 29px;
    color: $color-sapphire;
  }

  p {
    margin: 0 0 65px 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $color-chambray;
    text-align: center;
  }

  span {
    position: relative;
    color: $color-sapphire;
    font-weight: 700;
    font-size: 58px;
    line-height: 150%;
    margin: 0 0 0 6px;

    &::after {
      content: attr(data-price);
      font-weight: 700;
      font-size: 60px;
      line-height: 150%;
      position: relative;
      color: $color-egyptian-blue;
      left: -4px;
      top: 0;
    }

    &::before {
      content: attr(data-price);
      position: absolute;
      bottom: -15px;
      left: -25px;
      font-weight: 700;
      font-size: 100px;
      line-height: 150%;
      color: $color-whisper;
      opacity: 0.48;
    }
  }

  button {
    width: 100%;
    justify-content: center;
    margin-top: 34px;
    padding: 24px 0;
    color: $color-sapphire;
    border: none;
    outline: 2px solid $color-sapphire;

    @include vp-1199 {
      margin-top: 36px;
    }
  }
}
