// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-smalt:                       #00359f;
$color-cobalt:                      #003eb7;
$color-egyptian-blue:               #103aae;
$color-dark-cerulean:               #003d85;
$color-resolution-blue:             #1c3374;
$color-persian-blue:                #2e35ac;
$color-sapphire:                    #102654;
$color-midnight-express:            #000145;
$color-black-russian:               #030a1a;
$color-torch-red:                   #ed0233;
$color-crimson:                     #d10a42;
$color-venetian-red:                #b80027;
$color-ghost-white:                 #f8f9fc;
$color-whisper:                     #e8e8e8;
$color-dark-gray:                   #afafaf;
$color-spindle:                     #b6bdcc;
$color-light-slate-grey:            #74819c;
$color-chambray:                    #495a7d;
$color-grey:                        rgba(120, 120, 120, 0.2);
$color-blue-transparent:            rgba(16, 38, 84, 0.89);


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;
$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1200:                           1200px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;

// резиновая верстка
// desktop
$padding-desktop: percentage(calc(103 / 1366));
$padding-desktop-1: percentage(calc(47 / 1366));
$padding-desktop-2: percentage(calc(347 / 1366));
$padding-desktop-3: percentage(calc(170 / 683));
$padding-desktop-4: percentage(calc(103 / 683));
$padding-desktop-5: percentage(calc(120 / 683));
$padding-desktop-6: percentage(calc(103 / 683));
$header-picture-width-desktop: percentage(calc(500 / 1160));
$gym-gap: percentage(calc(85 / 1160));
$gym-text-width-desktop: percentage(calc(415 / 1366));
$gym-media-width-desktop: percentage(calc(723 / 1366));
$gym-video-width-desktop: percentage(calc(364 / 660));
$tickets-card-width-desktop: percentage(calc(360 / 1160));
$tickets-card-padding-desktop: percentage(calc(68 / 360));
$games-header-width-desktop: percentage(calc(231 / 500));
$slider-width-desktop: 1160;
$couches-slider-width-desktop: percentage(calc(1160 / 1366));
$contacts-gap: percentage(calc(100 / 460));

// tablet
$padding-tablet: percentage(calc(45 / 768));
$games-text-width-tablet: percentage(calc(292 / 678));
$games-picture-width-tablet: percentage(calc(386 / 678));
$games-header-width-tablet: percentage(calc(117 / 200));
$advantages-slide-tablet: percentage(calc(442 / 678));
$promo-picture-tablet: percentage(calc(399 / 678));
$feedback-padding-tablet: percentage(calc(133 / 768));
$feedback-padding-tablet-2: percentage(calc(103 / 768));
